* {
  box-sizing: border-box;
}

#body-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* side navigation */

#side-nav {
  margin: 1rem;
  grid-area: 1 / 1 / 6 / 2;
  position: fixed;
  border-right: 2px solid #ef4444;
}

.home {
  font-size: 5em;
  padding: 1rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

ul ul {
  padding-left: 1rem;
}

li {
  padding: .5rem;
  cursor: pointer;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
}

.about a {
  text-decoration: none;
  color: black;
}

/* image main container */

#images {
  grid-area: 1 / 2 / 7 / 7;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img {
  width: 300px;
}

.home-image {
  padding: 3rem;
  width: 50vw;
}

.img-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 2em;
  font-size: .8em;
}

.text-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 780px) {
  #body-container {
    display: flex;
    flex-direction: column;
  }

  #side-nav {
    width: 80%;
    display: flex;
    position: relative;
    margin-bottom: 3.5em;
  }

  #images {
    grid-area: 2 / 1 / 7 / 7;
  }

  .home-image {
    width: 80vw;
    align-self: flex-start;
  }
}